.clearfix {clear: both;}
.header {background-color : black;}
.nav-wrap {color: white; float: left;}


.nav-wrap>div{float: left; padding: 14px 18px;}
.nav-wrap >div:hover{background-color:gray ;cursor: pointer;}
.sch-wrap {background-color :orange; float: right;}
.sch-wrap>span{padding: 14px 16px;}
